body {
  height: 2000px;
  padding: 0 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.breadcrumbs {
  list-style: none;
  display: flex;
  gap: 5px;
}

.breadcrumbs li {
  display: inline;
}

.breadcrumbs li a {
  text-decoration: none;
  color: blue;
}

.breadcrumbs li::after {
  content: " > ";
}

.breadcrumbs li:last-child::after {
  content: "";
}

.breadcrumbs li:last-child {
  font-weight: bold;
}






.container {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  height: 830px;
  max-height: 85vh;
}
.image_wrapper{
  flex: 1;
  display: grid;
  place-items: center;
  border: 1px solid #eee;
}
.image-container {
  position: relative;

}

.image {
  display: block;
  height: 830px;
  max-height: 85vh;
}


.overlay {
  position: absolute;
  background-color: transparent; /* Initially transparent */
  border: 2px solid transparent;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.overlay{
  border-color: yellow; /* Red border on hover */
}
.overlay.hovered {
  background-color: rgba(192, 192, 192, 0.4); /* Light yellow background on hover */
  border-color: #cf3b3b; /* Red border on hover */
}


.highlight {
  background-color: #e1f2fd;
}

.grid_table{
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 2fr 1fr;
  border: 1px solid #eee;
  width: 100%;
  height: 85%;
  overflow-y: auto;
}
.grid_table1{
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr 2fr 1fr;

}
.grid_title{
  grid-column-start: 1;
  grid-column-end: 7;
  background-color: #f4f4f4;
  padding: 5px 10px;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
}
.grid_table a{
  text-decoration: none;
  color: #006cad;
}
.grid_table a:hover{
  color: #d90a25;
}

.grid_section{
  grid-column-start: 1;
  grid-column-end: 7;
}
.grid_head{
  background-color: #f4f4f4;
  padding: 10px 5px;
  border: 1px solid #eee;
}
.list_row{
  border-bottom: 1px solid #eee;
}
.list_row>div{
  padding: 5px 10px;

}